
/* Your CSS Code here. */
.holder{
	width:600px;
	height:600px;
}
.items{
	width:300px;
	height:300px;
	font-size:100px;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
}
#green{
	background-color:green;
}
#red{
	background-color:red;
}
#blue{
	background-color:blue;
}